<div *ngIf="data; else noData">
    <div class="container card-body mt-4">
        <div class="card">
            <div class="card-header m-4">
                <font [size]="4"> <b> Profile </b></font>
            </div>
            <div class="row g-0">
                <div>
                    <div class="w-full z-10">
                        <div class="flex flex-col">
                            <div class="bg-white border border-white shadow-lg  rounded-3xl p-4 m-4">
                                <div class="flex-none sm:flex">
                                    <div class=" relative h-32 w-32   sm:mb-0 mb-3">
                                        <img src="{{data.avatar_url}}" alt="aji"
                                            class=" w-32 h-32 object-cover rounded-2xl" />
                                    </div>
                                    <div class="flex-auto sm:ml-5 justify-evenly">
                                        <div class="flex items-center justify-between sm:mt-2">
                                            <div class="flex items-center">
                                                <div class="flex flex-col">
                                                    <div
                                                        class="w-full flex-none text-lg text-gray-800 font-bold leading-none">
                                                        {{data.name}}</div>
                                                    <div class="flex-auto text-gray-500 my-1">
                                                        <span class="mr-3 ">{{data.bio}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pt-2  text-sm text-gray-500">
                                            <div class="items-center">

                                                <div class="flex">
                                                    <p *ngIf="data.location!=null"><i class="fa fa-map"
                                                            aria-hidden="true"></i>
                                                        &nbsp;
                                                        <i>{{data.location}}</i>
                                                    </p>
                                                </div>
                                                <br>
                                                <div class="flex">
                                                    <div>
                                                        <a *ngIf="data.twitter_username!=null"
                                                            href="http://twitter.com/{{data.twitter_username}}"
                                                            target="_blank">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                                viewBox="0 0 24 24" fill="currentColor">
                                                                <path
                                                                    d="M22.46 5.5c-.823.36-1.704.602-2.615.71a4.648 4.648 0 0 0 2.043-2.557 9.268 9.268 0 0 1-2.946 1.13A4.66 4.66 0 0 0 14.97 4c-2.547 0-4.607 2.06-4.607 4.607 0 .36.04.71.104 1.05-3.834-.195-7.231-2.028-9.51-4.817-.397.676-.623 1.46-.623 2.296 0 1.588.808 2.988 2.03 3.812a4.653 4.653 0 0 1-2.094-.582v.057c0 2.217 1.578 4.064 3.673 4.48-.387.104-.795.158-1.218.158-.298 0-.587-.028-.873-.08.588 1.81 2.3 3.13 4.335 3.17a9.343 9.343 0 0 1-5.724 1.977c-.37 0-.736-.022-1.097-.067a13.133 13.133 0 0 0 7.058 2.065c8.472 0 13.096-7.02 13.096-13.097 0-.2-.005-.398-.015-.593.9-.65 1.68-1.464 2.3-2.395z" />
                                                            </svg>
                                                        </a>

                                                    </div>
                                                    <div>
                                                        <a href="http://github.com/{{data.login}}" target="_blank">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                                viewBox="0 0 24 24" fill="currentColor">
                                                                <path fill-rule="evenodd"
                                                                    d="M12 0C5.37 0 0 5.37 0 12c0 5.303 3.438 9.8 8.207 11.387.6.11.793-.258.793-.577 0-.285-.01-1.04-.015-2.04-3.348.727-4.042-1.562-4.042-1.562-.546-1.385-1.334-1.754-1.334-1.754-1.09-.744.083-.728.083-.728 1.205.085 1.838 1.24 1.838 1.24 1.07 1.834 2.808 1.304 3.49.997.108-.77.417-1.304.758-1.604-2.65-.3-5.44-1.324-5.44-5.896 0-1.3.465-2.365 1.235-3.196-.135-.3-.54-1.514.104-3.156 0 0 1.005-.32 3.3 1.224A11.44 11.44 0 0 1 12 5.26c.99 0 1.98.133 2.91.394 2.29-1.544 3.294-1.224 3.294-1.224.645 1.642.24 2.856.12 3.156.765.83 1.23 1.896 1.23 3.196 0 4.583-2.795 5.59-5.455 5.882.42.368.81 1.096.81 2.213 0 1.596-.015 2.881-.015 3.27 0 .313.192.688.8.572C20.565 21.797 24 17.303 24 12c0-6.63-5.37-12-12-12z" />
                                                            </svg>
                                                        </a>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="repos && repos!=null">
            <div class="container card-body mt-4">
                <div class="card">
                    <div class="card-header text-xl m-4">
                        <font [size]="4"><b> Repositories</b></font>
                    </div>

                    <div class="flex flex-wrap w-full">



                        <div *ngFor="let repo of repos.items | paginate:{             
                
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: RepoLimiter()
            }; let i = index " class="w-full md:w-1/2 px-3 mb-3">
                            <div>
                                <div
                                    class="h-40 [26whitespace-normal break-words rounded-lg border border-blue-gray-50 bg-white p-4 font-sans text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
                                    <div class="mb-2 flex items-center gap-3">

                                        <a href="{{repo.html_url}}"
                                            class="block font-sans text-base font-medium leading-relaxed tracking-normal text-blue-gray-900 antialiased transition-colors hover:text-pink-500"
                                            target="_blank">
                                            <font [size]="4"><b>
                                                    <div class="card-title">{{repo.name}}</div>
                                                </b></font>
                                        </a>
                                    </div>

                                    <p
                                        class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased text-ellipsis overflow-hidden whitespace-normal">
                                        {{ repo.description ? repo.description : 'No
                                        description
                                        available' }}
                                    </p>

                                    <div class="mt-4 flex items-center gap-5 overflow-auto">

                                        <span *ngFor="let topic of repo.topics"
                                            class="center relative inline-block select-none whitespace-nowrap rounded-full bg-purple-500 py-1 px-2 align-baseline font-sans text-xs font-medium capitalize leading-none tracking-wide text-white">
                                            <div class="mt-px">
                                                {{topic}}
                                            </div>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" class="mt-3">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #noData>
    <div className="profile-skeleton w-1/2 bg-white rounded-lg p-4">
        <div className="flex gap-2">
            <div className="w-16 h-16 shrink-0 bg-gray-200 rounded-full animate-pulse"></div>
            <div className="w-full space-y-2">
                <div className="w-11/12 h-7 bg-gray-200 rounded-2xl animate-pulse"></div>
                <div className="w-full h-7 bg-gray-200 rounded-2xl animate-pulse"></div>
            </div>
        </div>
    </div>
</ng-template>
<div *ngIf="data==null && profileFetching==true">
    <div class="container card-body mt-4">
        <div
            class="flex w-96 py-4 items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300 ">
            <div slot="avatar">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-alert-octagon w-5 h-5 mx-2">
                    <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
            </div>
            &nbsp; <font [size]="4"> Username not found &nbsp; :-(</font>
                    
        </div>
    </div>
</div>

<div *ngIf="data?.public_repos===0 &&repoFetching==true">
    <div class="container card-body mt-4">
        <div class="card">
            <div class="card-header">
                <font [size]="4"> <b> Repositories </b></font>
            </div>
            <div class="card-body text-center">
                Repository not found ...
            </div>
        </div>
    </div>
</div>